{% extends "base1_1.html" %}

{% block title %}
    Fruteria Hermanos Victoria
{% endblock %}

{% block customCSS %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
{% endblock %}
{% block body %}

<div class="ini">
  <!-- carrusel -->
<br>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{ url_for('static', filename='img/im1.jpg') }}" class="d-block w-100" >
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='img/im2.jpg') }}" class="d-block w-100" >
      </div>
      </div>
  </div>

  <p class="titulo">PRODUCTOS DESTACADOS</p>
  <div class="linea"></div>

  <div class="container my-5">
    <div class="row">
        <!-- Producto 1 -->
        <div class="col-md-4 mb-4">
            <div class="card product-card">
                <img src="{{ url_for('static', filename='img/piñas.jpg') }}" class="card-img-top" alt="Producto 1">
                <div class="card-body">
                    <h5 class="card-title">Piña</h5>
                    <p class="card-text">$10.00</p>
                </div>
            </div>
        </div>
        <!-- Producto 2 -->
        <div class="col-md-4 mb-4">
          <div class="card product-card">
              <img src="{{ url_for('static', filename='img/miel.jpg') }}" class="card-img-top" alt="Producto 3">
              <div class="card-body">
                  <h5 class="card-title">Miel</h5>
                  <p class="card-text">$20.00</p>
              </div>
          </div>
        </div>
        <!-- Producto 3 -->
        <div class="col-md-4 mb-4">
            <div class="card product-card">
                <img src="{{ url_for('static', filename='img/manzanas.jpg') }}" class="card-img-top" alt="Producto 3">
                <div class="card-body">
                    <h5 class="card-title">Manzana</h5>
                    <p class="card-text">$20.00</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- cuerpo -->
<br>
<br>

  
    <div class="tex1">
<br>
        <p>Encuentra las mejores frutas y verduras del Estado de Mexico, ahora sin salir de casa, ojea nuestro catalgo y haz tu pedido!</p>
          <br>
      </div>
</div>



{% endblock %}
